
#main-container {
/*    display: none;*/
    margin: 0 auto;
    text-align: center;
    padding: 15em 0 0 0;
}

.nome {
    width: 60%;
    max-width:40em;
    margin: 1.em auto 1.8em;
    
}

#btn {
    position:relative;
    width: 12em;
}

h1 {
/*    font-size: 4.5em;*/
}

.titulo {
    
}

a {
    text-decoration: none;
}

.top-logo {
   text-align: left;
}

.header {
    width: 100%;
    margin: 15px 0 15px 0;
}


.top-search {
    text-align: right;
}

.container {
    
}







.top-title {
    color: #222;
}



#tabela {
    margin-top: 2em;
    display: none;
}

#resultados {
    color: ;
    margin-top: 4em;
    margin-bottom: 0;
}

hr {

}

table {
    margin-top: -2.2em;
}







.top-box {
    margin-bottom: -15;
}

td {
/*    font-size: 5px;*/
}

td {
    max-width: 100%;
    box-sizing: border-box;
}
